<!DOCTYPE html>
<html lang="en" class="fthof_planner">
<head>
	<meta charset="UTF-8">

	<!-- AngularJS Libraries -->
	<!-- (Angular Material requires these files) -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-messages.min.js"></script>

	<!-- Angular Material Library -->
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

	<!-- FtHoF Planner Library Files -->
	<script src="/lib/seedrandom.min.js"></script>

	<!-- FtHoF Planner JavaScript File (source file: src/index.ts) -->
	<script type="module" src="/dist/index.js"></script>

	<!-- icon, styles -->
	<link rel="icon" type="image/png" href="/img/wizardtower/02.png">
	<link rel="stylesheet" type="text/css" href="/index.css">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">

	<!-- page tilte -->
	<title>FtHoF Planner v6b</title>
</head>
<body class="fthof_planner">

<!-- header title -->
<md-toolbar>
	<div class="md-toolbar-tools">
		<h1>Cookie Clicker FtHoF Planner v6b</h1>
	</div>
</md-toolbar>

<!-- AngularJS Main View -->
<div ng-app="myApp" ng-controller="myCtrl">
	<div class="content">
		<!-- Save Code -->
		<form class="save_code_form" ng-submit="importSave()">
			<label for="save_code">Save Code</label>
			<input
				id="save_code"
				placeholder="paste or drop"
				ng-model="saveCode"
				ng-click="selectInput($event)"
				ng-mousedown="selectInput($event)"
				ng-mouseup="selectInput($event)"
			>
			<md-button type="submit" class="md-raised md-primary">
				Import
			</md-button>
		</form>

		<!-- Seed -->
		<label>
			Seed
			<input
				class="seed w5"
				ng-model="seed"
				ng-change="applySettings()"
				ng-blur="disableSeedEdit()"
				ng-readonly="isSeedReadonly"
			>
		</label>
		<md-button class="md-raised md-primary" ng-click="enableSeedEdit()">edit</md-button>


		<!-- Description of FtHoF Planner -->
		<p><b>
			FtHoF Planner v6b is based on v1-v5 by RebelKeithy, Skeezy, Eminenti, Mylaaan and Joseph3079.
			Huge thanks to them for creating such a helpful tool.<br>
			◆ <a href="/version_history.html">full version history, credits & contacts</a>
		</b></p>
		<p><b>
			Compatible Version: Cookie Clicker v2.052
		</b></p>
		<p>
			RebelKeithy, Skeezy, Mylaaan, & Joseph3079 made a guide explaining the options/features we added.<br>
			<b>◆ <a href="/user_guide.html">User Guide</a></b>
		</p>

		<md-divider></md-divider>


		<!-- Loading Text -->
		<div class="loading" ng-if="!ready">
			<h2>
				<span class="inner">🍪</span>
				Loading
				<span class="inner reverse">🍪</span>
			</h2>
			<div class="description">
				(If this text remains on the screen, there may be something wrong with the process...)
			</div>
		</div>

		<!-- Main Contents that conains AngularJS braces -->
		<div ng-cloak>

			<!-- Combos Result -->
			<ul ng-if="grimoireResults.length > 0">
				<li ng-repeat="(comboLength, combo) in combos">
					<b>{{comboLength}}x Combo</b>
					<ul ng-if="combo.shortest.idx == -1">
						<li>No combo of this length</li>
						<li class="hidden"></li><!-- spacer -->
					</ul>
					<ul ng-if="combo.shortest.idx != -1">
						<li ng-if="combo.first.idx != -1">
							<a href="#{{combo.first.idx + 1}}">First:</a>
							Length {{combo.first.length}};
							spread {{combo.first.length - comboLength}};
							starting at
							<a href="#{{combo.first.idx + 1}}">spell #{{combo.first.idx + 1}}</a>
						</li>
						<li ng-if="combo.first.idx == -1">
							No combo of this length with spread &lt;= {{maxSpread}}
						</li>
						<li>
							<a href="#{{combo.shortest.idx + 1}}">Shortest:</a>
							Length {{combo.shortest.length}};
							spread {{combo.shortest.length - comboLength}};
							starting at
							<a href="#{{combo.shortest.idx + 1}}">spell #{{combo.shortest.idx + 1}}</a>
						</li>
					</ul>
				</li>
			</ul>

			<!-- Sugar Lumps -->
			<ul ng-if="grimoireResults.length > 0">
				<li>
					<b>Sugar Lumps</b>
					<ul ng-if="sugars.length == 0">
						<li>No Sugar Lump found...</li>
					</ul>
					<ul ng-repeat="sugar in sugars">
						<li>
							found at
							<a href="#{{sugar.index + 1}}">#{{sugar.index + 1}}</a>
							when screen GC/WC
							<span ng-if="sugar.isGC">&lt;</span>
							<span ng-if="!sugar.isGC">&gt;=</span>
							{{grimoireResults[sugar.index].wcThreshold}}
							<span class="sugar_few_buildings" ng-if="sugar.isFewBuildings">
								and buildings &lt; 10!!
							</span>
						</li>
					</ul>
				</li>
			</ul>

			<md-divider></md-divider>


			<!-- Settings: Lookahead Length -->
			<label>
				Lookahead length
				<input type="number" class="w4" min="10" max="1000" step="10" ng-model="lookahead">
			</label>

			<md-divider></md-divider>


			<!-- Settings: Combos -->
			<label>
				Min Combo
				<input type="number" class="w3" min="1" max="20" ng-model="minComboLength">
			</label>

			<label>
				Max Combo
				<input type="number" class="w3" min="1" max="20" ng-model="maxComboLength">
			</label>

			<label>
				Max Spread
				<input type="number" class="w3" min="0" max="99" ng-model="maxSpread">
			</label>

			<br>

			<!-- Settings: Include EF or Skip Some GFD -->
			<md-checkbox ng-model="includeEF">
				Include "{{langDict[effectLang]["Elder Frenzy"]}}"
			</md-checkbox>
			<md-checkbox ng-model="skipRA">
				Skip "{{langDict[spellLang]["Resurrect Abomination"]}}"
			</md-checkbox>
			<md-checkbox ng-model="skipSE">
				Skip "{{langDict[spellLang]["Spontaneous Edifice"]}}"
			</md-checkbox>
			<md-checkbox ng-model="skipST">
				Skip "{{langDict[spellLang]["Stretch Time"]}}"
			</md-checkbox>
			<md-divider></md-divider>


			<!-- Settings: Buffs / Debuffs that affect fail chance -->
			<label>
				Cookies<img src="/img/goldCookie.png" class="mini"><!--
				--><img src="/img/wrathCookie.png" class="mini"> on screen
				<input type="number" class="w3" min="0" max="10" ng-model="screenCookieCount">
			</label>

			<br>

			<md-checkbox ng-model="buffDF">
				Buff "{{langDict[auraLang]["Dragonflight"]}}"
			</md-checkbox>

			<md-checkbox ng-model="auraSI">
				Aura "{{langDict[auraLang]["Supreme Intellect"]}}"
			</md-checkbox>

			<md-checkbox ng-model="auraRB">
				Aura "{{langDict[auraLang]["Reality Bending"]}}"
			</md-checkbox>
			<br>

			<md-checkbox ng-model="buffDI">
				Buff "{{langDict[spellLang]["Diminish Ineptitude"]}}"
			</md-checkbox>

			<md-checkbox ng-model="debuffDI">
				Debuff "{{langDict[spellLang]["Diminish Ineptitude"]}}"
			</md-checkbox>

			<md-divider></md-divider>


			<!-- Settings: FtHoF Planner Settings -->
			<md-radio-group ng-model="season" layout="row">
				Season 2:&nbsp;
				<md-radio-button value="noswitch">No Use</md-radio-button>
				<md-radio-button value="cookie">GC/WC</md-radio-button>
				<md-radio-button value="valentines">Valentine's day</md-radio-button>
				<md-radio-button value="easter">Easter</md-radio-button>
			</md-radio-group>

			<md-checkbox ng-model="hideUseless">
				Replace Useless Effect to "----"
			</md-checkbox>

			<md-checkbox ng-model="shortenCSDrop">
				Replace "{{langDict[effectLang]["Cookie Storm Drop"]}}"
				to "{{langDict[effectLang]["Drop"]}}"
			</md-checkbox>

			<div class="select_container">
				Language>
				<label>
					Effect:
					<md-select ng-model="effectLang" aria-label="Effect">
						<md-option value="EN">English</md-option>
						<md-option value="FR">Français</md-option>
						<md-option value="DE">Deutsch</md-option>
						<md-option value="NL">Nederlands</md-option>
						<md-option value="CS">Čeština</md-option>
						<md-option value="PL">Polski</md-option>
						<md-option value="IT">Italiano</md-option>
						<md-option value="ES">Español</md-option>
						<md-option value="PT-BR">Português</md-option>
						<md-option value="JA">日本語</md-option>
						<md-option value="ZH-CN">中文</md-option>
						<md-option value="KO">한글</md-option>
						<md-option value="RU">Русский</md-option>
					</md-select>
				</label>

				<label>
					Spell:
					<md-select ng-model="spellLang" aria-label="Spell">
						<md-option value="EN">English</md-option>
						<md-option value="FR">Français</md-option>
						<md-option value="DE">Deutsch</md-option>
						<md-option value="NL">Nederlands</md-option>
						<md-option value="CS">Čeština</md-option>
						<md-option value="PL">Polski</md-option>
						<md-option value="IT">Italiano</md-option>
						<md-option value="ES">Español</md-option>
						<md-option value="PT-BR">Português</md-option>
						<md-option value="JA">日本語</md-option>
						<md-option value="ZH-CN">中文</md-option>
						<md-option value="KO">한글</md-option>
						<md-option value="RU">Русский</md-option>
					</md-select>
				</label>

				<label>
					Aura:
					<md-select ng-model="auraLang" aria-label="Aura">
						<md-option value="EN">English</md-option>
						<md-option value="FR">Français</md-option>
						<md-option value="DE">Deutsch</md-option>
						<md-option value="NL">Nederlands</md-option>
						<md-option value="CS">Čeština</md-option>
						<md-option value="PL">Polski</md-option>
						<md-option value="IT">Italiano</md-option>
						<md-option value="ES">Español</md-option>
						<md-option value="PT-BR">Português</md-option>
						<md-option value="JA">日本語</md-option>
						<md-option value="ZH-CN">中文</md-option>
						<md-option value="KO">한글</md-option>
						<md-option value="RU">Русский</md-option>
					</md-select>
				</label>
			</div>

			<md-divider></md-divider>


			<!-- spellsCast, spellsCastTotal -->
			[#0]
			<label>
				Spells cast:
				<input
					type="number"
					class="w4"
					ng-model="spellsCast"
					ng-change="applySettings()"
				>
			</label>
			<label>
				(total:
				<input
					type="number"
					class="w5"
					ng-model="spellsCastTotal"
					ng-change="applySettings()"
				>)
			</label>
			<br>

			<!-- Buttons -->
			<!--<md-button class="md-raised md-primary" ng-click="applySettings()">Apply Settings</md-button>-->
			<md-button class="md-raised md-primary" ng-click="castSpell()">Cast Spell</md-button>
			<md-button class="md-raised md-primary" ng-click="castSpell(5)">x5</md-button>
			<md-button class="md-raised md-primary" ng-click="castSpell(10)">x10</md-button>

			<!-- n times cast with manual number -->
			<form class="cast_manual" ng-submit="castSpell(castCountNum)">
				<input type="number" class="w4" placeholder="n" ng-model="castCountNum">
				<md-button class="md-raised md-primary" ng-click="castSpell(castCountNum)">x n</md-button>
			</form>
			<!-- <md-button class="md-raised md-primary" ng-click="printScope()">Print Scope</md-button> -->

			<md-divider></md-divider>


			<!-- FtHoF Planner Main Result Area -->
			<table>
				<colgroup>
					<col class="spell">
					<col class="random">
					<col class="fthof">
					<col class="fthof" ng-if="season != 'noswitch'">
					<col class="gfd">
				</colgroup>
				<thead>
					<tr>
						<th class="spell">Spell #</th>
						<th class="random">Random <br>Number</th>
						<th class="fthof">Season 1</th>
						<th class="fthof" ng-if="season != 'noswitch'">Season 2</th>
						<th class="gfd">Gambler's Dream</th>
					</tr>
					<tr>
						<td class="spell">
							Cast count: #from now<br>
							(In this run | Total)
						</td>
						<td class="random">
							Used to determine<br>
							backfire and GFD spell.
						</td>
						<td class="fthof">
							Season is <b>NOT</b><br>
							Valentines or Easter.
						</td>
						<td class="fthof" ng-if="season != 'noswitch'">
							Season is<br>
							Valentines or Easter.
						</td>
						<td class="gfd">
							Result of<br>
							Gambler's Fever Dream.
						</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="result in grimoireResults" id="{{result.num}}">
						<!-- Spell # -->
						<td class="spell"><div>
							#{{result.num}}
							({{spellsCast + result.num}} | {{spellsCastTotal + result.num}})
						</div></td>

						<!-- Random Number -->
						<td class="random"><div>
							{{result.firstRandomNum.toFixed(4)}} ({{result.wcThreshold}} GC)
						</div></td>

						<!-- Season 1 -->
						<td class="fthof">
							<div>
								<img ng-src="/{{result.cookie0.image}}">
								<div ng-class="{
									'highlight combo': result.cookie0.noteworthy,
								}" ng-attr-title="{{result.cookie0.tooltip}}">
									{{result.cookie0.displayName}}
								</div>
							</div>
							<div class="hidden_cookie" ng-if="result.isHiddenCookieNotable0">
								<img ng-src="/{{result.hiddenCookie0.image}}">
								<div ng-class="{
									'highlight combo': result.hiddenCookie0.noteworthy,
									'highlight notable': result.isHiddenCookieNotable0,
								}" ng-attr-title="{{result.hiddenCookie0.tooltip}}">
									{{result.hiddenCookie0.displayName}}
								</div>
							</div>
							<div class="few_buildings_sugar" ng-if="result.canGcSugarWithFewBuildings0">
								<img ng-src="/{{result.gc0.image}}">
								<div
									class="highlight rare_sugar"
									title="Gain a free sugar lump with very few buildings, but only through GFD."
								>
									<div class="condition">when buildings &lt; 10</div>
									Free Sugar Lump
								</div>
							</div>
						</td>

						<!-- Season 2 -->
						<td class="fthof" ng-if="season != 'noswitch'">
							<div>
								<img ng-src="/{{result.cookie1.image}}">
								<div ng-class="{
									'highlight combo': result.cookie1.noteworthy,
								}" ng-attr-title="{{result.cookie1.tooltip}}">
									{{result.cookie1.displayName}}
								</div>
							</div>
							<div class="hidden_cookie" ng-if="result.isHiddenCookieNotable1">
								<img ng-src="/{{result.hiddenCookie1.image}}">
								<div ng-class="{
									'highlight combo': result.hiddenCookie1.noteworthy,
									'highlight notable': result.isHiddenCookieNotable1,
								}" ng-attr-title="{{result.hiddenCookie1.tooltip}}">
									{{result.hiddenCookie1.displayName}}
								</div>
							</div>
							<div class="few_buildings_sugar" ng-if="result.canGcSugarWithFewBuildings1">
								<img ng-src="/{{result.gc1.image}}">
								<div
									class="highlight rare_sugar"
									title="Gain a free sugar lump with very few buildings, but only through GFD."
								>
									<div class="condition">when buildings &lt; 10</div>
									Free Sugar Lump
								</div>
							</div>
						</td>

						<!-- Gambler's Dream -->
						<td class="gfd"><div>
							<img ng-src="/{{result.gfd.image}}" ng-class="{
								success: result.gfd.isWin,
								backfire: !result.gfd.isWin,
							}" class="gfd">
							<div ng-class="{
								'highlight combo': result.gfd.noteworthy,
								'highlight skip':  result.gfd.canSkip,
							}" ng-attr-title="{{result.gfd.tooltip}}">
								{{result.gfd.displayName}}
							</div>
						</div></td>
					</tr>
				</tbody>
			</table>

			<!-- Load More Button -->
			<md-button class="md-raised md-primary" ng-click="loadMore()">Load More</md-button>
		</div>
	</div>
</div>

</body>
</html>
