html, body {
	background-color: white;
}

input {
	border: 1px solid gray;
	border-radius: 4px;
	padding: 4px 8px;
}
input[type=number] {
	text-align: right;
}
input, md-radio-group {
	margin: 8px 0;
}
input.w2 {
	width: 2em;
}
input.w3 {
	width: 3em;
}
input.w4 {
	width: 4em;
}
input.w5 {
	width: 5em;
}

.content {
	max-width: 1440px;
	margin: auto;
}


/* error line below md-input */
md-input-container .md-errors-spacer {
	min-height: 0px !important;
}

/* md-select */
div.select_container {
	margin-bottom: 16px;
}
md-select:not(_) {  /* increase specificity */
	display: inline-block;
	margin: 0;
}

/* link */
a {
	cursor: pointer;
	color: blue;
}
a:hover, a.hover {
	text-decoration: underline;
}

/* inline image */
img.mini {
	height: .9em;
}

/* hide elements without collapsing */
.hidden {
	visibility: hidden;
}


/* save code */
input#save_code {
	color: gray;
}

/* Sugar with few buildings */
.sugar_few_buildings {
	color: crimson;
	font-weight: bold;
}

/* n times cast with manual number */
.cast_manual {
	display: inline;
	margin-left: .5em;
	vertical-align: middle;
}

/* loading title */
.loading {
	text-align: center;
}

/* highlighting noteworty or skippable cookie */
div.highlight {
	width: 100%;
}
.highlight.combo {
	background-color: yellow;
}
.highlight.skip {
	background-color: lightblue;
}
.highlight.notable {
	border: dashed 3px orange;
	/* border-radius: 3px; */
}
.highlight.rare_sugar {
	border: dotted 3px red;
	/* border-radius: 3px; */
}

/* hidden cookie */
.hidden_cookie img {
	opacity: .5;
}
.hidden_cookie .highlight.combo {
	background-color: #ffff80;
}

/* few buildings Sugar */
.few_buildings_sugar .condition {
	font-size: small;
	color: gray;
}

/* GFD image */
img.gfd {
	border: solid 1px transparent;
	border-radius: 4px;
	padding: 4px;
}
img.gfd.success {
	border-color: gold;
	background-color: khaki;
}
img.gfd.backfire {
	border-color: chocolate;
	background-color: orangered;
}


/* CSS to make <table> look like the Angular Material theme */
table {
	table-layout: fixed;
	border-collapse: collapse;
	max-width: 100%;
	width: 100%;
	border: solid 1px lightgray;
}

th {
	height: 3em;
}
th, td {
	padding: .3em .5em;
	border-style: none solid;
	border-width: 1px;
	border-color: lightgray;
}
col.spell {
	width: 10em;
}
col.random {
	width: 9em;
	font-size: small;
}

thead th {
	background-color: rgb(140, 158, 255);
	color: rgba(0, 0, 0, 0.87);
	font-size: 20px;
	font-weight: 500;
}
thead td {
	background-color: rgb(250, 250, 250);
	color: rgba(0, 0, 0, 0.54);

	font-size: 12px;
	font-weight: 500;
	letter-spacing: .01em;
	line-height: 1.2em;
}

thead th.random {
	font-size: medium;
}

tbody tr {
	height: 2em;
}
tbody tr:nth-of-type(odd) {
	background-color: lavender;
}
tbody td > div {
	display: flex;
	align-items: center;
	gap: .5em;
}

tbody td.random {
	font-size: small;
}

tbody td img {
	width: 2em;
	height: 2em;
}


/* loading animation */
@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}
.loading {
	opacity: 0;
	animation: fadeIn 3s ease-in-out 1s forwards;
}
.loading .description {
	opacity: 0;
	animation: fadeIn 3s ease-in-out 3s forwards;
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
.inner {
	display: inline-block;
	animation: spin 2s linear infinite;
	animation-delay: .5s;
}
.inner.reverse {
	animation-direction: reverse;
}
