body {
    background-color: white;
}

input {
    margin: 8px 0;
    width: 80px;
}

.content {
    max-width: 1440px;
    margin: auto;
}

table, th, td {
    border: 1px solid black;
}

td {
    min-width: 150px;
}

td.index {
    min-width: 50px;
}

md-input-container .md-errors-spacer {
    min-height: 0px !important;
}

.listdemoBasicUsage md-divider {
    margin-top: 10px;
    margin-bottom: 0;
}

a {
    cursor: pointer;
    color: blue;
}

a:hover, a.hover {
    text-decoration: underline;
}

.md-subheader .md-subheader-content {
    min-height: 2.5em;
}

.highlightCombo {
    background-color: yellow;
}

.highlightSkip {
    background-color: lightblue;
}

.combo-listitem{
    height: 3.5em;
}

.collapse-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    #background-color: #f1f1f1;
    border: 5px solid lightblue;
}

.hide-column {
    align-self: flex-end;
    font-size: 0.7em;
}
.hide-column > input {
  width: 13px;
  accent-color: rgb(255,89,145);
}


/* CSS to make <table> look like the Angular Material theme */
table {
    table-layout: fixed;
    border-collapse: collapse;
    max-width: 100%;
    width: 100%;
    border: solid 1px lightgray;
}

th {
    height: 3em;
}
th, td {
    padding: .3em .5em;
    border-style: none solid;
    border-color: lightgray;
}
col.spell {
    width: 10em;
}
col.random {
    width: 9em;
}

thead th {
    background-color: rgb(140, 158, 255);
    color: rgba(0, 0, 0, 0.87);
    font-size: 20px;
    font-weight: 500;
}
thead td {
    background-color: rgb(250, 250, 250);
    color: rgba(0, 0, 0, 0.54);

    font-size: 12px;
    font-weight: 500;
    letter-spacing: .01em;
    line-height: 1.2em;
}

tbody tr {
    height: 2em;
}
tbody tr:nth-of-type(odd) {
    background-color: lavender;
}
tbody td > div {
    display: flex;
    align-items: center;
    gap: .5em;
}

img {
    width: 2em;
    height: 2em;
}
td div {
    display: inline-block;
}
