<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- AngularJS Libraries -->
	<!-- (Angular Material requires these files) -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

	<!-- Angular Material Library -->
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

	<!-- FtHoF Library Files -->
	<script src="./lib/seedrandom.min.js"></script>

	<!-- FtHoF JavaScript File (source file: ./src/index.ts) -->
	<script type="module" src="./dist/index.js"></script>

	<!-- icon, styles -->
	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico?">
	<link rel="stylesheet" type="text/css" href="index.css">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">

	<!-- page tilte -->
	<title>FtHoF Planner v6b</title>
</head>
<body>

<!-- header title -->
<md-toolbar>
	<div class="md-toolbar-tools">
		<h1>
			<span>Cookie Clicker FtHoF Planner v6b</span>
		</h1>
	</div>
</md-toolbar>

<!-- AngularJS Main View -->
<div ng-app="myApp" ng-controller="myCtrl">
	<div class="content">
		<!-- Save Code -->
		<div layout="row">
			<md-input-container flex>
				<label>Save Code</label>
				<input id="save_code" ng-model="saveCode" ng-click="selectSaveCodeInput($event)">
			</md-input-container>
			<md-button class="md-raised md-primary" ng-click="loadSaveCode(); updateCookies()">
				Import Save
			</md-button>
		</div>


		<!-- Description of FtHoF -->
		<p><b>
			Based on FtHoF planner v1-v5 by RebelKeithy, Skeezy, Eminenti, Mylaaan and Joseph3079.
			Huge thanks to them for creating such a helpful tool.<br>
			◆ <a href="./version_history.html">full version history, credits & contacts</a>
		</b></p>
		<p><b>
			Compatible Version: Cookie Clicker v2.052
		</b></p>
		<p>
			RebelKeithy, Skeezy, Mylaaan, & Joseph3079 made a guide explaining the options/features we added.<br>
			<b>◆ <a href="./user_guide.html">User Guide</a></b>
		</p>

		<md-divider></md-divider>


		<!-- Loading Text -->
		<div class="loading" ng-if="!ready">
			<h2>
				<span class="inner">🍪</span>
				Loading
				<span class="inner reverse">🍪</span>
			</h2>
			<div class="description">
				(If this text remains on the screen, there may be something wrong with the process...)
			</div>
		</div>

		<!-- Main Contents that conains AngularJS braces -->
		<div ng-cloak>

			<!-- Combos Result -->
			<ul ng-if="combos">
				<li class="combo-listitem" ng-repeat="(comboLength, combo) in combos">
					<b>{{comboLength}}x Combo</b>
					<ul ng-if="combo.shortest.idx == -1">
						<li>No combo of this length</li>
					</ul>
					<ul ng-if="combo.shortest.idx != -1">
						<li ng-if="combo.first.idx != -1">
							<a href="#{{combo.first.idx + 1}}">Earliest:</a>
							Length {{combo.first.length}};
							spread {{combo.first.length - comboLength}};
							starting at
							<a href="#{{combo.first.idx + 1}}">spell #{{combo.first.idx + 1}}</a>
						</li>
						<li ng-if="combo.first.idx == -1">
							No combo of this length with spread &lt;= {{maxSpread}}
						</li>
						<li>
							<a href="#{{combo.shortest.idx + 1}}">Shortest:</a>
							Length {{combo.shortest.length}};
							spread {{combo.shortest.length - comboLength}};
							starting at
							<a href="#{{combo.shortest.idx + 1}}">spell #{{combo.shortest.idx + 1}}</a>
						</li>
					</ul>
				</li>
			</ul>

			<!-- Sugar Lumps -->
			<ul ng-if="sugarIndexes">
				<li>
					<b>Sugar Lumps</b>
					<ul ng-if="sugarIndexes.length == 0">
						<li>No Sugar Lumps is found...</li>
					</ul>
					<ul ng-repeat="sugarIndex in sugarIndexes">
						<li>
							found at
							<a href="#{{sugarIndex + 1}}">#{{sugarIndex + 1}}</a>
							with {{grimoireResults[sugarIndex].wcThreshold}} screen GC
						</li>
					</ul>
				</li>
			</ul>

			<md-divider></md-divider>


			<!-- Settings: Lookahead Length -->
			<label>
				Lookahead length
				<input type="number" class="w4" min="10" max="1000" step="10" ng-model="lookahead">
			</label>

			<md-divider></md-divider>


			<!-- Settings: Combos -->
			<label>
				Min Combo
				<input type="number" class="w3" min="1" max="20" ng-model="minComboLength">
			</label>

			<label>
				Max Combo
				<input type="number" class="w3" min="1" max="20" ng-model="maxComboLength">
			</label>

			<label>
				Max Spread
				<input type="number" class="w3" min="0" max="99" ng-model="maxSpread">
			</label>

			<br>

			<!-- Settings: Include EF or Skip Some GFD -->
			<md-checkbox ng-model="includeEF">Include Elder Frenzies</md-checkbox>
			<md-checkbox ng-model="skipRA">Skip Abominations</md-checkbox>
			<md-checkbox ng-model="skipSE">Skip Spontaneous Edifices</md-checkbox>
			<md-checkbox ng-model="skipST">Skip Stretch Time</md-checkbox>
			<md-divider></md-divider>


			<!-- Settings: Buffs / Debuffs that affect fail chance -->
			<label>
				Cookies<img src="img/goldCookie.png" class="mini"><!--
				--><img src="img/wrathCookie.png" class="mini"> on screen
				<input type="number" class="w3" min="0" max="10" ng-model="screenCookieCount">
			</label>

			<br>

			<md-checkbox ng-model="buffDF">
				Dragonflight Buff Active
			</md-checkbox>

			<md-checkbox ng-model="auraSI">
				Supreme Intellect Aura Active
			</md-checkbox>

			<md-checkbox ng-model="buffDI">
				Diminish Ineptitude Buff Active
			</md-checkbox>

			<md-checkbox ng-model="debuffDI">
				Diminish Ineptitude Debuff Active
			</md-checkbox>

			<md-divider></md-divider>


			<!-- Settings: FtHoF Settings -->
			<md-radio-group ng-model="season" layout="row">
				"One Change" Season:&nbsp;
				<md-radio-button value="noswitch">No Use</md-radio-button>
				<md-radio-button value="cookie">GC/WC</md-radio-button>
				<md-radio-button value="valentines">Valentine's day</md-radio-button>
				<md-radio-button value="easter">Easter</md-radio-button>
			</md-radio-group>

			<md-divider></md-divider>


			<!-- Buttons -->
			<md-button class="md-raised md-primary" ng-click="updateCookies()">Apply Settings</md-button>
			<md-button class="md-raised md-primary" ng-click="castSpell()">Cast Spell</md-button>
			<md-button class="md-raised md-primary" ng-click="castSpell(5)">x5</md-button>
			<md-button class="md-raised md-primary" ng-click="castSpell(10)">x10</md-button>
			<!-- <md-button class="md-raised md-primary" ng-click="printScope()">Print Scope</md-button> -->

			<md-divider></md-divider>

			<!-- FtHoF Planner Main Result Area -->
			<table>
				<colgroup>
					<col class="spell">
					<col class="random">
					<col class="fthof">
					<col class="fthof" ng-if="season != 'noswitch'">
					<col class="gfd">
				</colgroup>
				<thead>
					<tr>
						<th>Spell #</th>
						<th>Random <br>Number</th>
						<th>No Change</th>
						<th ng-if="season != 'noswitch'">One Change</th>
						<th>Gambler's Dream</th>
					</tr>
					<tr>
						<td>
							Cast count: #from now<br>
							(In this ascension | Total)
						</td>
						<td>
							Used to determine<br>
							backfire and GFD spell.
						</td>
						<td>
							Season is <b>NOT</b><br>
							Valentines or Easter.
						</td>
						<td ng-if="season != 'noswitch'">
							Season is<br>
							Valentines or Easter.
						</td>
						<td>
							Result of<br>
							Gambler's Fever Dream.
						</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="result in grimoireResults" id="{{result.num}}">
						<!-- Spell # -->
						<td><div>
							#{{result.num}}
							({{spellsCast + result.num}} | {{spellsCastTotal + result.num}})
						</div></td>

						<!-- Random Number -->
						<td><div>
							{{result.firstRandomNum.toFixed(4)}} ({{result.wcThreshold}} GC)
						</div></td>

						<!-- No Change -->
						<td><div>
							<img ng-src="{{result.cookie0.image}}">
							<div ng-class="{
								'highlight combo': result.cookie0.noteworthy,
								'highlight notable': result.isOtherCookieNotable0,
							}">
								{{result.cookie0.name}}
							</div>
						</div></td>

						<!-- One Change -->
						<td ng-if="season != 'noswitch'"><div>
							<img ng-src="{{result.cookie1.image}}">
							<div ng-class="{
								'highlight combo': result.cookie1.noteworthy,
								'highlight notable': result.isOtherCookieNotable1,
							}">
								{{result.cookie1.name}}
							</div>
						</div></td>

						<!-- Gambler's Dream -->
						<td><div>
							<img ng-src="{{result.gfd.image}}" ng-class="{
								success: result.gfd.isWin,
								backfire: !result.gfd.isWin,
							}" class="gfd">
							<div ng-class="{
								'highlight combo': result.gfd.canCombo,
								'highlight skip':  result.gfd.canSkip,
							}" ng-attr-title="{{
								result.gfd.name == 'Force the Hand of Fate'
								? result.gfd.cookie0.name + (
									season != 'noswitch'
									? '; ' + result.gfd.cookie1.name
									: ''
								)
								: undefined
							}}">
								{{result.gfd.name}}
							</div>
						</div></td>
					</tr>
				</tbody>
			</table>

			<!-- Load More Button -->
			<md-button class="md-raised md-primary" ng-click="loadMore()">Load More</md-button>
		</div>
	</div>
</div>

</body>
</html>
