<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">

	<!-- AngularJS Libraries -->
	<!-- (Angular Material requires these files) -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

	<!-- Angular Material Library -->
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

	<!-- FtHoF Library Files -->
	<script src="lib/seedrandom.min.js"></script>

	<!-- FtHoF JavaScript File (source file: src/index.ts) -->
	<script type="module" src="dist/index.js"></script>

	<!-- icon, styles -->
	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico?">
	<link rel="stylesheet" type="text/css" href="index.css">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">

	<!-- page tilte -->
	<title>FtHoF Planner v6b</title>
</head>
<body>

<!-- header title -->
<md-toolbar>
	<div class="md-toolbar-tools">
		<h1>
			<span>Cookie Clicker FtHoF Planner v6b</span>
		</h1>
	</div>
</md-toolbar>

<!-- AngularJS Main View -->
<div ng-app="myApp" ng-controller="myCtrl">
	<div class="content">
		<!-- Save Code -->
		<form ng-submit="importSave()">
			<div layout="row">
				<md-input-container flex>
					<label>セーブコード</label>
					<input
						id="save_code"
						ng-model="saveCode"
						ng-click="selectInput($event)"
						ng-mousedown="selectInput($event)"
						ng-mouseup="selectInput($event)"
					>
				</md-input-container>
				<md-button type="submit" class="md-raised md-primary">
					読込
				</md-button>
			</div>
		</form>


		<!-- Description of FtHoF -->
		<p style="font-size: small;">
			ひそかに作っていた FtHoF Planner v6b を日本語化したものです。自分の感覚で使いやすくなるようにゴリゴリと好き勝手に改造しています。<br>
			※ 注意：日本語化はあまり手をかけていません。機械翻訳であからさまに変だったとこを適当に手直ししただけです<br>
			⇒ 英語がわかる方は <a href="/">英語版</a> もどうぞ！（こっちの方が更新が早いです）
			※ まだ作成中です。最終的に別のサイトで公開するつもりなので、リンク等はしないでください<br>
			<br>
			主なアピールポイント：砂糖の情報を追加（転生リセマラで砂糖が集められる）、オートセーブ化、セーブコードのドロップでの自動読込、設定いろいろ追加、One Change（良い名前が思いつかない）に画像追加、ギャンブラーに画像追加<br>
			今後追加予定の機能：隠れBS/EFで発動させにくいものをGCの枚数でフィルターのオプション、効果名とギャンブラーの翻訳を分割、隠れBS/EFの表示をわかりやすく、コンボ改善（含めるEFの最大数とか）、この辺の文章をもうちょっと見やすく
		</p>
		<p><b>
			FtHoF Planner v6b は、RebelKeithy、Skeezy、Eminenti、Mylaaan、Joseph3079 による v1-v5 を基にしています。
			この便利なツールを作成してくれた皆さんに心から感謝します。<br>
			◆ <a href="version_history.html">完全なバージョン履歴、クレジット & 連絡先（未翻訳）</a>
		</b></p>
		<p><b>
			対応バージョン: Cookie Clicker v2.052
		</b></p>
		<p>
			RebelKeithy、Skeezy、Mylaaan、Joseph3079 が追加したオプションや機能のガイドを作成しました。<br>
			<b>◆ <a href="user_guide.html">ユーザーガイド（未翻訳）</a></b>
		</p>

		<md-divider></md-divider>


		<!-- Loading Text -->
		<div class="loading" ng-if="!ready">
			<h2>
				<span class="inner">🍪</span>
				Loading
				<span class="inner reverse">🍪</span>
			</h2>
			<div class="description">
				（このテキストが画面に残っている場合、処理に問題がある可能性があります...）
			</div>
		</div>

		<!-- Main Contents that conains AngularJS braces -->
		<div ng-cloak>

			<!-- Combos Result -->
			<ul ng-if="grimoireResults.length > 0">
				<li ng-repeat="(comboLength, combo) in combos">
					<b>{{comboLength}}x コンボ</b>
					<ul ng-if="combo.shortest.idx == -1">
						<li>なし</li>
						<li class="hidden"></li><!-- スペーサー -->
					</ul>
					<ul ng-if="combo.shortest.idx != -1">
						<li ng-if="combo.first.idx != -1">
							<a href="#{{combo.first.idx + 1}}">最初:</a>
							長さ {{combo.first.length}}、<!--
							-->通過 {{combo.first.length - comboLength}}、<!--
							-->開始位置
							<a href="#{{combo.first.idx + 1}}">#{{combo.first.idx + 1}}</a>
						</li>
						<li ng-if="combo.first.idx == -1">
							通過 &lt;= {{maxSpread}} のこの長さのコンボはありません
						</li>
						<li>
							<a href="#{{combo.shortest.idx + 1}}">最短:</a>
							長さ {{combo.shortest.length}}、<!--
							-->通過 {{combo.shortest.length - comboLength}}、<!--
							-->開始位置
							<a href="#{{combo.shortest.idx + 1}}">#{{combo.shortest.idx + 1}}</a>
						</li>
					</ul>
				</li>
			</ul>

			<!-- Sugar Lumps -->
			<ul ng-if="grimoireResults.length > 0">
				<li>
					<b>砂糖玉</b>
					<ul ng-if="sugars.length == 0">
						<li>なし</li>
					</ul>
					<ul ng-repeat="sugar in sugars">
						<li>
							発見位置:
							<a href="#{{sugar.index + 1}}">#{{sugar.index + 1}}</a>
							…画面の GC/WC
							<span ng-if="sugar.isGC">＜</span>
							<span ng-if="!sugar.isGC">≧</span>
							{{grimoireResults[sugar.index].wcThreshold}}
							<span class="sugar_few_buildings" ng-if="sugar.isFewBuildings">
								かつ建物 ＜ 10!!
							</span>
						</li>
					</ul>
				</li>
			</ul>

			<md-divider></md-divider>


			<!-- Settings: Lookahead Length -->
			<label>
				最大予測長
				<input type="number" class="w4" min="10" max="1000" step="10" ng-model="lookahead">
			</label>

			<md-divider></md-divider>


			<!-- Settings: Combos -->
			<label>
				最小コンボ
				<input type="number" class="w3" min="1" max="20" ng-model="minComboLength">
			</label>

			<label>
				最大コンボ
				<input type="number" class="w3" min="1" max="20" ng-model="maxComboLength">
			</label>

			<label>
				最大通過
				<input type="number" class="w3" min="0" max="99" ng-model="maxSpread">
			</label>

			<br>

			<!-- Settings: Include EF or Skip Some GFD -->
			<md-checkbox ng-model="includeEF">エルダーフィーバーを含む</md-checkbox>
			<md-checkbox ng-model="skipRA">忌まわしき復活をスキップ</md-checkbox>
			<md-checkbox ng-model="skipSE">自然発生の殿堂をスキップ</md-checkbox>
			<md-checkbox ng-model="skipST">ストレッチの時間をスキップ</md-checkbox>
			<md-divider></md-divider>


			<!-- Settings: Buffs / Debuffs that affect fail chance -->
			<label>
				クッキー<img src="img/goldCookie.png" class="mini"><!--
				--><img src="img/wrathCookie.png" class="mini"> が画面にある数
				<input type="number" class="w3" min="0" max="10" ng-model="screenCookieCount">
			</label>

			<br>

			<md-checkbox ng-model="buffDF">
				ドラゴンフライトのバフが有効
			</md-checkbox>

			<md-checkbox ng-model="auraSI">
				最高峰の知性のオーラが有効
			</md-checkbox>

			<md-checkbox ng-model="auraRB">
				現実の歪曲のオーラが有効
			</md-checkbox>
			<br>

			<md-checkbox ng-model="buffDI">
				愚劣の減少のバフが有効
			</md-checkbox>

			<md-checkbox ng-model="debuffDI">
				愚劣の減少のデバフが有効
			</md-checkbox>

			<md-divider></md-divider>


			<!-- Settings: FtHoF Settings -->
			<md-radio-group ng-model="season" layout="row">
				"One Change" シーズン:&nbsp;
				<md-radio-button value="noswitch">使用しない</md-radio-button>
				<md-radio-button value="cookie">GC/WC</md-radio-button>
				<md-radio-button value="valentines">バレンタインデー</md-radio-button>
				<md-radio-button value="easter">イースター</md-radio-button>
			</md-radio-group>

			<md-checkbox ng-model="hideUseless">
				ザコい効果を「----」に置き換える
			</md-checkbox>

			<md-checkbox ng-model="shortenCSDrop">
				「クッキー乱舞の雫」を「雫」に置き換える
			</md-checkbox>

			<div style="margin-bottom: 16px;">
				効果 / 呪文の言語:&nbsp;
				<md-select style="display: inline-block; margin: 0;" ng-model="lang">
					<md-option value="EN">English</md-option>
					<md-option value="FR">Français</md-option>
					<md-option value="DE">Deutsch</md-option>
					<md-option value="NL">Nederlands</md-option>
					<md-option value="CS">Čeština</md-option>
					<md-option value="PL">Polski</md-option>
					<md-option value="IT">Italiano</md-option>
					<md-option value="ES">Español</md-option>
					<md-option value="PT-BR">Português</md-option>
					<md-option value="JA">日本語</md-option>
					<md-option value="ZH-CN">中文</md-option>
					<md-option value="KO">한글</md-option>
					<md-option value="RU">Русский</md-option>
				</md-select>
			</div>

			<md-divider></md-divider>


			<!-- Buttons -->
			<!--<md-button class="md-raised md-primary" ng-click="updateCookies()">設定を適用</md-button>-->
			<md-button class="md-raised md-primary" ng-click="castSpell()">呪文を発動</md-button>
			<md-button class="md-raised md-primary" ng-click="castSpell(5)">x5</md-button>
			<md-button class="md-raised md-primary" ng-click="castSpell(10)">x10</md-button>

			<!-- n times cast with manual number -->
			<form class="cast_manual" ng-submit="castSpell(castCountNum)">
				<input type="number" class="w4" ng-model="castCountNum">
				<md-button class="md-raised md-primary" ng-click="castSpell(castCountNum)">x-n</md-button>
			</form>
			<!-- <md-button class="md-raised md-primary" ng-click="printScope()">スコープを表示</md-button> -->

			<md-divider></md-divider>


			<!-- FtHoF Planner Main Result Area -->
			<table>
				<colgroup>
					<col class="spell">
					<col class="random">
					<col class="fthof">
					<col class="fthof" ng-if="season != 'noswitch'">
					<col class="gfd">
				</colgroup>
				<thead>
					<tr>
						<th>呪文 #</th>
						<th>乱数</th>
						<th>No Change</th>
						<th ng-if="season != 'noswitch'">One Change</th>
						<th>ギャンブラーの夢</th>
					</tr>
					<tr>
						<td>
							発動回数: #今から<br>
							(この転生 | 合計)
						</td>
						<td>
							逆効果とギャンブラーの呪文を決定するために使用。
						</td>
						<td>
							シーズンが <b>バレンタイン</b> / <b>イースター</b> では<b>ない</b>。
						</td>
						<td ng-if="season != 'noswitch'">
							シーズンが <b>バレンタイン</b> / <b>イースター</b>。
						</td>
						<td>
							ギャンブラーの熱の夢の結果。
						</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="result in grimoireResults" id="{{result.num}}">
						<!-- Spell # -->
						<td><div>
							#{{result.num}}
							({{spellsCast + result.num}} | {{spellsCastTotal + result.num}})
						</div></td>

						<!-- Random Number -->
						<td><div>
							{{result.firstRandomNum.toFixed(4)}} ({{result.wcThreshold}} GC)
						</div></td>

						<!-- No Change -->
						<td><div>
							<img ng-src="{{result.cookie0.image}}">
							<div ng-class="{
								'highlight combo': result.cookie0.noteworthy,
								'highlight notable': result.isOtherCookieNotable0,
							}" ng-attr-title="{{result.cookie0.tooltip}}">
								{{result.cookie0.displayName}}
							</div>
						</div></td>

						<!-- One Change -->
						<td ng-if="season != 'noswitch'"><div>
							<img ng-src="{{result.cookie1.image}}">
							<div ng-class="{
								'highlight combo': result.cookie1.noteworthy,
								'highlight notable': result.isOtherCookieNotable1,
							}" ng-attr-title="{{result.cookie1.tooltip}}">
								{{result.cookie1.displayName}}
							</div>
						</div></td>

						<!-- Gambler's Dream -->
						<td><div>
							<img ng-src="{{result.gfd.image}}" ng-class="{
								success: result.gfd.isWin,
								backfire: !result.gfd.isWin,
							}" class="gfd">
							<div ng-class="{
								'highlight combo': result.gfd.noteworthy,
								'highlight skip':  result.gfd.canSkip,
							}" ng-attr-title="{{result.gfd.tooltip}}">
								{{result.gfd.displayName}}
							</div>
						</div></td>
					</tr>
				</tbody>
			</table>

			<!-- Load More Button -->
			<md-button class="md-raised md-primary" ng-click="loadMore()">さらに読み込む</md-button>
		</div>
	</div>
</div>

</body>
</html>
