<!DOCTYPE html>
<html lang="ja" class="fthof_planner">
<head>
	<meta charset="UTF-8">

	<!-- AngularJS Libraries -->
	<!-- (Angular Material requires these files) -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-messages.min.js"></script>

	<!-- Angular Material Library -->
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

	<!-- FtHoF Planner Library Files -->
	<script src="/lib/seedrandom.min.js"></script>

	<!-- FtHoF Planner JavaScript File (source file: src/index.ts) -->
	<script type="module" src="/dist/index.js"></script>

	<!-- icon, styles -->
	<link rel="icon" type="image/png" href="/img/wizardtower/02.png">
	<link rel="stylesheet" type="text/css" href="/index.css">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">

	<!-- page tilte -->
	<title>FtHoF Planner v6b</title>
</head>
<body class="fthof_planner">

<!-- header title -->
<md-toolbar>
	<div class="md-toolbar-tools">
		<h1>Cookie Clicker FtHoF Planner v6b</h1>
	</div>
</md-toolbar>

<!-- AngularJS Main View -->
<div ng-app="myApp" ng-controller="myCtrl">
	<div class="content">
		<!-- Save Code -->
		<form class="save_code_form" ng-submit="importSave()">
			<label for="save_code">セーブコード</label>
			<input
				id="save_code"
				placeholder="貼り付け or ドロップ"
				ng-model="saveCode"
				ng-click="selectInput($event)"
				ng-mousedown="selectInput($event)"
				ng-mouseup="selectInput($event)"
			>
			<md-button type="submit" class="md-raised md-primary">
				読込
			</md-button>
		</form>

		<!-- Seed -->
		<label>
			シード
			<input
				class="seed w5"
				ng-model="seed"
				ng-change="applySettings()"
				ng-blur="disableSeedEdit()"
				ng-readonly="isSeedReadonly"
			>
		</label>
		<md-button class="md-raised md-primary" ng-click="enableSeedEdit()">編集</md-button>


		<!-- Description of FtHoF Planner -->
		<p style="font-size: small;">
			ひそかに作っていた FtHoF Planner v6b を日本語化したものです。自分の感覚で使いやすくなるようにゴリゴリと好き勝手に改造しています。<br>
			※ 注意：日本語化はあまり手をかけていません。機械翻訳であからさまに変だったとこを適当に手直ししただけです<br>
			⇒ 英語がわかる方は <a href="/">英語版</a> もどうぞ！（こっちの方が更新が早いです）<br>
		</p>
		<p><b>
			FtHoF Planner v6b は、RebelKeithy, Skeezy, Eminenti, Mylaaan, Joseph3079 による v1-v5 を基にしています。
			この便利なツールを作成してくれた皆さんに心から感謝します。<br>
			◆ <a href="/version_history.html">完全なバージョン履歴、クレジット & 連絡先（未翻訳）</a>
		</b></p>
		<p><b>
			対応バージョン: Cookie Clicker v2.052
		</b></p>
		<p>
			RebelKeithy, Skeezy, Mylaaan, Joseph3079 が追加したオプションや機能のガイドを作成しました。<br>
			<b>◆ <a href="/user_guide.html">ユーザーガイド（未翻訳）</a></b>
		</p>

		<md-divider></md-divider>


		<!-- Loading Text -->
		<div class="loading" ng-if="!ready">
			<h2>
				<span class="inner">🍪</span>
				Loading
				<span class="inner reverse">🍪</span>
			</h2>
			<div class="description">
				（これが消えない場合、何か処理中に問題が起きたのかも…）
			</div>
		</div>

		<!-- Main Contents that conains AngularJS braces -->
		<div ng-cloak>

			<!-- Combos Result -->
			<ul ng-if="grimoireResults.length > 0">
				<li ng-repeat="(comboLength, combo) in combos">
					<b>{{comboLength}}x コンボ</b>
					<ul ng-if="combo.shortest.idx == -1">
						<li>なし</li>
						<li class="hidden"></li><!-- spacer -->
					</ul>
					<ul ng-if="combo.shortest.idx != -1">
						<li ng-if="combo.first.idx != -1">
							<a href="#{{combo.first.idx + 1}}">最初:</a>
							長さ {{combo.first.length}}、<!--
							-->パス {{combo.first.length - comboLength}}、<!--
							-->開始位置
							<a href="#{{combo.first.idx + 1}}">#{{combo.first.idx + 1}}</a>
						</li>
						<li ng-if="combo.first.idx == -1">
							パス &lt;= {{maxSpread}} のこの長さのコンボはありません
						</li>
						<li>
							<a href="#{{combo.shortest.idx + 1}}">最短:</a>
							長さ {{combo.shortest.length}}、<!--
							-->パス {{combo.shortest.length - comboLength}}、<!--
							-->開始位置
							<a href="#{{combo.shortest.idx + 1}}">#{{combo.shortest.idx + 1}}</a>
						</li>
					</ul>
				</li>
			</ul>

			<!-- Sugar Lumps -->
			<ul ng-if="grimoireResults.length > 0">
				<li>
					<b>砂糖玉</b>
					<ul ng-if="sugars.length == 0">
						<li>なし</li>
					</ul>
					<ul ng-repeat="sugar in sugars">
						<li>
							発見位置:
							<a href="#{{sugar.index + 1}}">#{{sugar.index + 1}}</a>
							…画面の GC/WC
							<span ng-if="sugar.isGC">＜</span>
							<span ng-if="!sugar.isGC">≧</span>
							{{grimoireResults[sugar.index].wcThreshold}}
							<span class="sugar_few_buildings" ng-if="sugar.isFewBuildings">
								かつ建物 ＜ 10!!
							</span>
						</li>
					</ul>
				</li>
			</ul>

			<md-divider></md-divider>


			<!-- Settings: Lookahead Length -->
			<label>
				最大予測長
				<input type="number" class="w4" min="10" max="1000" step="10" ng-model="lookahead">
			</label>

			<md-divider></md-divider>


			<!-- Settings: Combos -->
			<label>
				最小コンボ
				<input type="number" class="w3" min="1" max="20" ng-model="minComboLength">
			</label>

			<label>
				最大コンボ
				<input type="number" class="w3" min="1" max="20" ng-model="maxComboLength">
			</label>

			<label>
				最大パス（繋ぎ）
				<input type="number" class="w3" min="0" max="99" ng-model="maxSpread">
			</label>

			<br>

			<!-- Settings: Include EF or Skip Some GFD -->
			<md-checkbox ng-model="includeEF">
				"{{langDict[effectLang]["Elder Frenzy"]}}"を含む
			</md-checkbox>
			<md-checkbox ng-model="skipRA">
				"{{langDict[spellLang]["Resurrect Abomination"]}}"をスキップ
			</md-checkbox>
			<md-checkbox ng-model="skipSE">
				"{{langDict[spellLang]["Spontaneous Edifice"]}}"をスキップ
			</md-checkbox>
			<md-checkbox ng-model="skipST">
				"{{langDict[spellLang]["Stretch Time"]}}"をスキップ
			</md-checkbox>
			<md-divider></md-divider>


			<!-- Settings: Buffs / Debuffs that affect fail chance -->
			<label>
				クッキー<img src="/img/goldCookie.png" class="mini"><!--
				--><img src="/img/wrathCookie.png" class="mini"> が画面にある数
				<input type="number" class="w3" min="0" max="10" ng-model="screenCookieCount">
			</label>

			<br>

			<md-checkbox ng-model="buffDF">
				バフ "{{langDict[auraLang]["Dragonflight"]}}"
			</md-checkbox>

			<md-checkbox ng-model="auraSI">
				オーラ "{{langDict[auraLang]["Supreme Intellect"]}}"
			</md-checkbox>

			<md-checkbox ng-model="auraRB">
				オーラ "{{langDict[auraLang]["Reality Bending"]}}"
			</md-checkbox>
			<br>

			<md-checkbox ng-model="buffDI">
				バフ "{{langDict[spellLang]["Diminish Ineptitude"]}}"
			</md-checkbox>

			<md-checkbox ng-model="debuffDI">
				デバフ "{{langDict[spellLang]["Diminish Ineptitude"]}}"
			</md-checkbox>

			<md-divider></md-divider>


			<!-- Settings: FtHoF Planner Settings -->
			<md-radio-group ng-model="season" layout="row">
				シーズン２:&nbsp;
				<md-radio-button value="noswitch">非表示</md-radio-button>
				<md-radio-button value="cookie">GC/WC</md-radio-button>
				<md-radio-button value="valentines">バレンタインデー</md-radio-button>
				<md-radio-button value="easter">イースター</md-radio-button>
			</md-radio-group>

			<md-checkbox ng-model="hideUseless">
				ザコい効果を "----" に置き換える
			</md-checkbox>

			<md-checkbox ng-model="shortenCSDrop">
				"{{langDict[effectLang]["Cookie Storm Drop"]}}" を
				"{{langDict[effectLang]["Drop"]}}" に置き換える
			</md-checkbox>

			<div class="select_container">
				言語>
				<label>
					効果:
					<md-select ng-model="effectLang" aria-label="効果">
						<md-option value="EN">English</md-option>
						<md-option value="FR">Français</md-option>
						<md-option value="DE">Deutsch</md-option>
						<md-option value="NL">Nederlands</md-option>
						<md-option value="CS">Čeština</md-option>
						<md-option value="PL">Polski</md-option>
						<md-option value="IT">Italiano</md-option>
						<md-option value="ES">Español</md-option>
						<md-option value="PT-BR">Português</md-option>
						<md-option value="JA">日本語</md-option>
						<md-option value="ZH-CN">中文</md-option>
						<md-option value="KO">한글</md-option>
						<md-option value="RU">Русский</md-option>
					</md-select>
				</label>

				<label>
					呪文:
					<md-select ng-model="spellLang" aria-label="呪文">
						<md-option value="EN">English</md-option>
						<md-option value="FR">Français</md-option>
						<md-option value="DE">Deutsch</md-option>
						<md-option value="NL">Nederlands</md-option>
						<md-option value="CS">Čeština</md-option>
						<md-option value="PL">Polski</md-option>
						<md-option value="IT">Italiano</md-option>
						<md-option value="ES">Español</md-option>
						<md-option value="PT-BR">Português</md-option>
						<md-option value="JA">日本語</md-option>
						<md-option value="ZH-CN">中文</md-option>
						<md-option value="KO">한글</md-option>
						<md-option value="RU">Русский</md-option>
					</md-select>
				</label>

				<label>
					オーラ:
					<md-select ng-model="auraLang" aria-label="オーラ">
						<md-option value="EN">English</md-option>
						<md-option value="FR">Français</md-option>
						<md-option value="DE">Deutsch</md-option>
						<md-option value="NL">Nederlands</md-option>
						<md-option value="CS">Čeština</md-option>
						<md-option value="PL">Polski</md-option>
						<md-option value="IT">Italiano</md-option>
						<md-option value="ES">Español</md-option>
						<md-option value="PT-BR">Português</md-option>
						<md-option value="JA">日本語</md-option>
						<md-option value="ZH-CN">中文</md-option>
						<md-option value="KO">한글</md-option>
						<md-option value="RU">Русский</md-option>
					</md-select>
				</label>
			</div>

			<md-divider></md-divider>


			<!-- spellsCast, spellsCastTotal -->
			[#0]
			<label>
				かけた呪文：
				<input
					type="number"
					class="w4"
					ng-model="spellsCast"
					ng-change="applySettings()"
				>
			</label>
			<label>
				（合計：
				<input
					type="number"
					class="w5"
					ng-model="spellsCastTotal"
					ng-change="applySettings()"
				>）
			</label>
			<br>

			<!-- Buttons -->
			<!--<md-button class="md-raised md-primary" ng-click="updateGrimoireResults()">設定を適用</md-button>-->
			<md-button class="md-raised md-primary" ng-click="castSpell()">呪文を発動</md-button>
			<md-button class="md-raised md-primary" ng-click="castSpell(5)">x5</md-button>
			<md-button class="md-raised md-primary" ng-click="castSpell(10)">x10</md-button>

			<!-- n times cast with manual number -->
			<form class="cast_manual" ng-submit="castSpell(castCountNum)">
				<input type="number" class="w4" placeholder="n" ng-model="castCountNum">
				<md-button class="md-raised md-primary" ng-click="castSpell(castCountNum)">x n</md-button>
			</form>
			<!-- <md-button class="md-raised md-primary" ng-click="printScope()">スコープを表示</md-button> -->

			<md-divider></md-divider>


			<!-- FtHoF Planner Main Result Area -->
			<table>
				<colgroup>
					<col class="spell">
					<col class="random">
					<col class="fthof">
					<col class="fthof" ng-if="season != 'noswitch'">
					<col class="gfd">
				</colgroup>
				<thead>
					<tr>
						<th class="spell">呪文 #</th>
						<th class="random">乱数</th>
						<th class="fthof">シーズン１</th>
						<th class="fthof" ng-if="season != 'noswitch'">シーズン２</th>
						<th class="gfd">ギャンブラーの夢</th>
					</tr>
					<tr>
						<td class="spell">
							発動回数: #今から<br>
							(この転生 | 合計)
						</td>
						<td class="random">
							逆効果とギャンブラーの呪文の決定に使われる。
						</td>
						<td class="fthof">
							シーズンが バレンタイン / イースター <b>ではない</b>。
						</td>
						<td class="fthof" ng-if="season != 'noswitch'">
							シーズンが バレンタイン / イースター。
						</td>
						<td class="gfd">
							ギャンブラーの熱の夢 の結果。
						</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="result in grimoireResults" id="{{result.num}}">
						<!-- Spell # -->
						<td class="spell"><div>
							#{{result.num}}
							({{spellsCast + result.num}} | {{spellsCastTotal + result.num}})
						</div></td>

						<!-- Random Number -->
						<td class="random"><div>
							{{result.firstRandomNum.toFixed(4)}} ({{result.wcThreshold}} GC)
						</div></td>

						<!-- Season 1 -->
						<td class="fthof">
							<div>
								<img ng-src="/{{result.cookie0.image}}">
								<div ng-class="{
									'highlight combo': result.cookie0.noteworthy,
								}" ng-attr-title="{{result.cookie0.tooltip}}">
									{{result.cookie0.displayName}}
								</div>
							</div>
							<div class="hidden_cookie" ng-if="result.isHiddenCookieNotable0">
								<img ng-src="/{{result.hiddenCookie0.image}}">
								<div ng-class="{
									'highlight combo': result.hiddenCookie0.noteworthy,
									'highlight notable': result.isHiddenCookieNotable0,
								}" ng-attr-title="{{result.hiddenCookie0.tooltip}}">
									{{result.hiddenCookie0.displayName}}
								</div>
							</div>
							<div class="few_buildings_sugar" ng-if="result.canGcSugarWithFewBuildings0">
								<img ng-src="/{{result.gc0.image}}">
								<div
									class="highlight rare_sugar"
									title="建物の合計が10未満のとき、無料の砂糖玉を獲得する。（※ ギャンブラー経由が必須）"
								>
									<div class="condition">建物 ＜ 10 のときのみ</div>
									Free Sugar Lump
								</div>
							</div>
						</td>

						<!-- Season 2 -->
						<td class="fthof" ng-if="season != 'noswitch'">
							<div>
								<img ng-src="/{{result.cookie1.image}}">
								<div ng-class="{
									'highlight combo': result.cookie1.noteworthy,
								}" ng-attr-title="{{result.cookie1.tooltip}}">
									{{result.cookie1.displayName}}
								</div>
							</div>
							<div class="hidden_cookie" ng-if="result.isHiddenCookieNotable1">
								<img ng-src="/{{result.hiddenCookie1.image}}">
								<div ng-class="{
									'highlight combo': result.hiddenCookie1.noteworthy,
									'highlight notable': result.isHiddenCookieNotable1,
								}" ng-attr-title="{{result.hiddenCookie1.tooltip}}">
									{{result.hiddenCookie1.displayName}}
								</div>
							</div>
							<div class="few_buildings_sugar" ng-if="result.canGcSugarWithFewBuildings1">
								<img ng-src="/{{result.gc1.image}}">
								<div
									class="highlight rare_sugar"
									title="建物の合計が10未満のとき、無料の砂糖玉を獲得する。（※ ギャンブラー経由が必須）"
								>
									<div class="condition">建物 ＜ 10 のときのみ</div>
									Free Sugar Lump
								</div>
							</div>
						</td>

						<!-- Gambler's Dream -->
						<td class="gfd"><div>
							<img ng-src="/{{result.gfd.image}}" ng-class="{
								success: result.gfd.isWin,
								backfire: !result.gfd.isWin,
							}" class="gfd">
							<div ng-class="{
								'highlight combo': result.gfd.noteworthy,
								'highlight skip':  result.gfd.canSkip,
							}" ng-attr-title="{{result.gfd.tooltip}}">
								{{result.gfd.displayName}}
							</div>
						</div></td>
					</tr>
				</tbody>
			</table>

			<!-- Load More Button -->
			<md-button class="md-raised md-primary" ng-click="loadMore()">さらに読み込む</md-button>
		</div>
	</div>
</div>

</body>
</html>
